{% extends parent_template|default:"post/base.html" %}

{% block title %}
  {{ block.super }} - Blog
{% endblock %}

{% block content %}
  {% if perms.blog.add_post %}
    <p>
      <a href="{% url 'post_create' %}">
        Write Blog Post
      </a>
    <p>
  {% endif %}
  {% for post in post_list %}
    <article>
      <header>
        <h2>
          <a href="{{ post.get_absolute_url }}">
            {{ post.title|title }}</a>
        </h2>
        <section>
          <h3>Startup{{ post.startups.all|pluralize }}</h3>
          <ul>
            {% for startup in post.startups.all %}
              <li><a href="{{ startup.get_absolute_url }}">
                {{ startup.name }}
              </a></li>
            {% endfor %}
          </ul>
          <section>
            <h3>Tag{{ post.tags.all|pluralize }}</h3>
            <ul>
              {% for tag in post.tags.all %}
                <li><a href="{{ tag.get_absolute_url }}">
                  {{ tag.name|title }}
                </a></li>
              {% endfor %}
            </ul>
        </section>
        <p>
          Written on:
          <time datetime="{{ post.pub_date|date:"Y-m-d" }}">
            {{ post.pub_date|date:"l, F j, Y" }}
          </time>
        </p>
      </header>
      <p>{{ post.text|truncatewords:20 }}</p>
      <p>
        <a href="{{ post.get_absolute_url }}">
          Read more…</a>
      </p>
    </article>
  {% empty %}
    <p><em>No Blog Posts Available</em></p>
  {% endfor %}
{% endblock %}
